<form>
    <style>
      .section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .radio-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        margin-left: 12px;
      }
    </style>
    <div class="form-group select-perso">
        <label>Personnage : </label>
        <select type="text" name="characterID" id="characterID" dtype="String"/>
            {{#each options as |arp|}}
                <option value={{@index}} {{#if (eq this.name ../selected.actor.name)}}selected{{/if}}>{{arp.name}}</option>
            {{/each}}
        </select>
    </div>
    <br>
    <h2>Etat actuel : </h2>
    <div class="section">
        <span style="flex-grow: 3">
            <div class="radio-group">
                <label><input type="radio" name="imago" checked value="false"> TMR (en Demi-Reve)</label>
                <label><input type="radio" name="imago" {{#if selected.imago}}checked{{/if}} value="true"> CEF (en Imago)</label>
            </div>
        </span>
        <span style="flex-shrink: 3; margin-left: 30px;">
            <div class="section" style="width: 120px;">
                <label>Position : <input type="text" name="position" value="{{selected.position}}" maxlength="4"; style="text-align: center;width: 50px"></label>
            </div>
        </span>
    </div>
    <br>
    <h2>Climat en CEF : </h2>
    <div class="radio-group">
        {{#checked selected.climat}}
        <label><input type="radio" name="climat" value=1> 1. Beau Fixe</label>
        <label><input type="radio" name="climat" value=2> 2. Fleuve d'Huille</label>
        <label><input type="radio" name="climat" value=3> 3. Brûmes</label>
        <label><input type="radio" name="climat" value=4> 4. Vents Traversiers</label>
        <label><input type="radio" name="climat" value=5> 5. Houle Croisée</label>
        <label><input type="radio" name="climat" value=6> 6. Tempête</label>
        <label><input type="radio" name="climat" value=7> 7. Crue</label>
        {{/checked}}
    </div>
    <br>
    <div class="form-group">
        <input type="button" onclick="game.outreReve.ArpenteurUtility.updateArpenteur(characterID.value, imago.value, climat.value, position.value)" value="Appliquer">
    </div>
</form>