.cef-tmr-move-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.cef-tmr-coordonnees {
  text-align: center;
}
.cef-tmr-pos-label {
  font-style: italic;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radio-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-left: 12px;
}
